/*
	Seletores
 */
figure {
	margin: 0;
}
ul {
	margin: 0;
}
.off-canvas-wrap {
	overflow: visible !important;

	&.move-right {
		overflow: hidden !important;
	}
}
button {
	&.btn-grey {
		color: $primary-color;
		background-color: #ccc;
	}
}

/*
	Hacks foundation
 */
.top-bar {
	.row {
		max-width: 68.75rem !important;
	}
}

.inline-list {
	li:first-child {
		margin-left: 0;
	}
}

/*
	Positions
 */
.rel {
	position: relative;
}
.abs {
	position: absolute;
}