@font-face {
  font-family: 'Gotham-Black';
  src: url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Black.woff') format('woff'), url('fonts/Gotham-Black.ttf')  format('truetype'), url('fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf')  format('truetype'), url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('fonts/GothamLight.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamLight.woff') format('woff'), url('fonts/GothamLight.ttf')  format('truetype'), url('fonts/GothamLight.svg#GothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('fonts/GothamBold.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamBold.woff') format('woff'), url('fonts/GothamBold.ttf')  format('truetype'), url('fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


