#footer {
	padding: rem-calc(20) 0;
	background-color: $primary-color;
}

.icon-like {
	right: rem-calc(50);
	top: 0;
}

.sub-nav-footer {
	a {
		color: #f1f1f1;
		font-size: rem-calc(13);
	}
}

.newsletter {
	input[type="submit"] {
		@include button(
			$bg: tint($primary-color, 30%),
			$padding: rem-calc(11.3),
			$radius: true
		);
	}
}

.copy {
	padding: rem-calc(20) 0;
	background-color: shade($primary-color, 20%);
}

.social-footer {
	a {
		opacity: .6;
		@extend .trs;

		&:hover {
			opacity: 1;
		}
	}
}