ul:not(.list-middle-news) {
	h2 {
		margin: 0;
		font-size: rem-calc(16);
		display: inline-block;
		width: 100%;

		&:hover {
			background-color: $original-primary-color-hover;
		}
	}
	a {
		display: inline-block;
	}
}

/*
	Menu fixo
 */
.fixed-menu {
	padding: rem-calc(10) 0;
	background-color: $original-header-bg;
	border-bottom: 2px solid $primary-color;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	@extend .trs;
	@include transform(translateY(-100%));

	&.active {
		@include transform(translateY(0));
	}

	.icon-menu {
		margin-top: rem-calc(9);
	}

	.icon-search {
		margin-top: rem-calc(4);
	}
	
	form {
		margin-top: rem-calc(10);
	}

	input {
		margin: 0;
	}
}

form.mf {
	display: none;
	&.show {
		display: block;
	}
}

/*
	Top-bar
 */
.top-bar {
	li {
		a {
			@extend .text-up;
		}
	}
}

.menu-top {
	margin-left: rem-calc(10) !important;
}

.social-links {
	margin-right: rem-calc(10) !important;
	margin-top: rem-calc(11.5) !important;

	li {

	}

	a {
		display: block;
		padding: 0 rem-calc(5) !important;
		opacity: .7;
		background-color: transparent !important;

		&:hover {
			opacity: 1;
			background-color: $primary-color !important;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

/*
	Cabeçalho
 */
#header {
	background-color: $original-header-bg;
	padding: rem-calc(20) 0;
	@extend .rel;

	blockquote {
		margin: rem-calc(20) 0 0 rem-calc(20);
	}
}

/*
	Formulario de busca
 */
.search-form {
	margin-top: rem-calc(10);

	input {
		margin: 0;
	}

	input[type="text"] {
		border-radius: 6px 0 0 6px;
	}
	input[type="submit"] {
		border-radius: 0 6px 6px 0;
	}

	&.mo {
		margin: 0;
		padding: rem-calc(20) rem-calc(10);
		background-color: $original-header-bg;
		border-bottom: 3px solid rgba($primary-color,.1);
		float: right;
	}
}

.mobile-search {
	display: none;
	&.show {
		display: block;
	}
}

/*
	Menu principal
 */
#main-menu {
	background-color: $original-header-bg;
	border-bottom: 3px solid $primary-color;

	ul:not(.sub-menu) {
		height: 50px !important;
		width: 100%;
		overflow: visible;
	}
	
	li {
		background-color: transparent;
		margin: 0;
		@extend .rel;

		div {
			@extend .abs;
			top: 0; left: 0;
			width: 100%;
			height: rem-calc(3);
			background-color: $primary-color;
			opacity: 0;
		}

		&:hover {
			div {
				opacity: 1;
			}
			.sub-menu {
				left: 0;
			}
		}

		li {
			background-color: $primary-color;

			a {
				background-color: $primary-color !important;
				color: #fff !important;

				&:hover {
					color: $primary-color !important;
				}
			}
		}
	}

	a:not(.cats-link) {
		font-size: rem-calc(13) !important;
		line-height: 50px;
		@extend .text-up;
		font-weight: bold;
		background-color: transparent !important;
		color: $primary-color;
		padding: 0 rem-calc(15) !important;

		&:hover {
			background-color: $original-primary-color-hover !important;
			//border-top: 2px solid $primary-color;
		}
	}
}

.blog-cats {
	right: 10px;
	bottom: 0;
}

.sub-menu {
	height: 0;
	@extend .abs;
	top: 50px;
	left: -10000px;
	z-index: 999;
	background-color: white;
	padding: rem-calc(10);
	width: rem-calc(200) !important;

	li {
		width: 100%;
		border-bottom: 1px solid #fff;
	}

	a {
		color: #222;

		&:hover {
			color: $primary-color;
		}
	}
}

/*
	Menu mobile 
 */
.off-canvas-list {
	a,li {
		@extend .text-up;
		&:hover {
			background-color: $primary-color !important;
			color: #fff;
		}
	}
}
