/*
	Slide principal
 */
.list-slide, .list-slide-mobile {

	figure {
		height: rem-calc(269);
		border-left: 3px solid #fff;
	}

	h3 {
		font-weight: bold;
		color: #fff;
		bottom: rem-calc(10);
		left: -3px;
		border-left: 3px solid $primary-color;
		@include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);
		padding: 0 rem-calc(20);
		padding-bottom: 0;
		margin: 0;
	}

	span {
		padding: rem-calc(10);
		line-height: 2.5;
		background-color: $primary-color;
		font-size: rem-calc(14);
	}

	.icon-arrow {
		bottom: rem-calc(10);
		left: rem-calc(20);
	}
}

.slide-mask {
	height: 100%;
	@extend .trs;
	@include background-image(linear-gradient(transparent 60%, #666));

	&:hover {
		background-color: rgba(#333,.5);
	}

	&.radius {
		border: 3px solid #f1f1f1;
		border-radius: 10px;

		&:hover {
			border-color: $primary-color;
		}

		&.green {
			&:hover {
				border-color: $alternative-color;
			}
		}
	}
}

//slide mobile
.list-slide-mobile {
	li {
		width: 100%;
		height: rem-calc(280);
	}

	.icon-arrow {
		display: none;
	}
}

.slide-pager {
	padding-top: 10px;

	span {
		display: inline-block;
		width: rem-calc(13);
		height: rem-calc(13);
		background-color: #ccc;
		border-radius: 100%;
		margin: 0 3px;
		cursor: pointer;

		&.cycle-pager-active {
			background-color: $primary-color;
		}
	}
}

/*
	Guia de raças
 */
.list-dogs {
	padding: rem-calc(0) rem-calc(10);
}

.month-dog {
	padding-left: rem-calc(20);
}

.next-dog, .prev-dog {
	top: 55%;
	@extend .trs;
	opacity: .5;
	z-index: 99;

	&:hover {
		opacity: 1;
	}
}

.next-dog {
	left: 0;
}

.prev-dog {
	right: 0;
}

.star-dog {
	img {
		border-radius: 100%;
		padding: rem-calc(3);
		@extend .trs;
		border: 1px solid transparent;

		&:hover {
			border-color: $primary-color;
		}
	}
}

/*
	Loja
 */
.pet-shop {
	@include panel(
		$bg: white,
		$padding: rem-calc(20)
	);
	header {
		border-bottom: 1px solid $primary-color;
	}
}

.list-products {
	.owl-item {
		padding: rem-calc(10);
		@extend .trs;
		@extend .left;
		text-align: center;

		&:hover {
			background-color: #f1f1f1;
		}
	}

	p {
		font-size: rem-calc(12);
		margin-bottom: rem-calc(10);
		color: #666;
	}
}

.red {
	color: #c00 !important;
}

/*
	Tudo sobre gatos
 */

.cats-features {
	height: rem-calc(368);
	border-radius: 10px;	
}