@media #{$small-only} {
	.row {
		width: 100%;
		max-width: rem-calc(320);
	}

	//Miscelania
	//padding-left 0
	.pdl-small-0 {
		padding-left: 0;
	}
	
	.pdl-small-only-0 {
		padding-left: 0;
	}

	.small-padding-left {
		padding-left: rem-calc(20);
	}

	/*
		Bloco de conteudo
	 */
	.icon-plus {
		float: right;
		margin-top: rem-calc(5);
	}
	.content-block {
		h2 {
			width: 100%;
		}
	}
	.list-vert {
		li {
			border: none;
		}
	}

	//guia de raças
	.next-dog, .prev-dog { 
		top: 60%;
	}

	//subnav
	.list-subnav {
		div {
			border: none !important;
		}
		div:first-child {
			padding-right: rem-calc(10);
		}
		div:last-child {
			padding-left: rem-calc(10);
			padding-bottom: none !important;
		}
	}

	.mobile-footer-menu {
		margin: 0;
		margin-bottom: rem-calc(20);

		a:hover {
			color: tint($primary-color,20%);
		}
	}

	//Noticias centrais
	.list-middle-news {
		li {
			padding-bottom: 0;
		}
		.list-vert {
			div {
				padding-bottom: 0;
			}
		}
	}

	//tudo sobre gatos
	.cats-features {
		height: rem-calc(220);	
	}

	//Single post
	.author-footer {
		h5.left {
			float: right !important;
		}
	}
	.author-about {
		padding-left: rem-calc(0);
		div {
			margin-top: 50px;
			p {
				padding-left: rem-calc(0);
			}
			.inline-list {
				margin: 0;
				padding-left: rem-calc(0);
			}
		}

		li {
			margin-left: rem-calc(10);
		}
	}

	.author-avatar {
		left: 0;
		top: rem-calc(-35);
	}

	.wp-content {
		h2 {
			font-size: rem-calc(22) !important;
		}
	}

	//pagina colunistas
	.join-writter-form {
		input[type="text"] {
			width: 100%;
		}
	}

	.list-writters {
		h5 {
			width: 100%;
			float: left;
			text-align: right;	
		}

		.author-about {
			div {
				margin-top: rem-calc(10);
			}
		}

		.author-avatar {
			top: rem-calc(-70);
		}
	}


}

@media #{$medium-only} {
	.row {
		width: rem-calc(768);
		max-width: rem-calc(768);
	}
	//Miscelania
	//padding-left 0
	.pdl-small-0 {
		padding-left: 0;
	}
	
	/*
		bloco de conteudo
	 */
	.owl-controls {
		display: none !important;
	}

	.list-vert.fluid {
		padding:0 rem-calc(20);

		li {
			margin: 0;
			padding: 0;
			border-bottom: none;
		}

		h3 {
			font-size: rem-calc(20);
		}

		ul {
			margin: 0;
		}
	}

	//guia de raças
	.next-dog, .prev-dog { 
		top: 60%;
	}
}

@media #{$large-up} {
	/*
		Formulario de busca mobile
	 */
	.mobile-search {
		display: none !important;
	}
	/*
		bloco de conteudo
	 */
	.owl-controls {
		display: none !important;
	}

	//Adestramento
	.ade-slide {
		max-height: 315px !important;
	}

	//guia de raças
	.month-dog {
		padding-left: rem-calc(0);
	}

	//Single
	.post-header {
		h2 {
			font-size: rem-calc(28);
		}
	}

	//Colunistas
	.list-writters {
		h5 {
			&.left {
				margin-left: rem-calc(50);
			}
		}
	}
}