/*
	Cores de font
 */
.grey {
	color: #999;
}

.white {
	color: #fff;
}

a.grey {
	@extend .trs;
	&:hover {
		color: $primary-color;
	}
}

.blue {
	color: #3b589d;
}

.p-color {
	color: $primary-color;
}

/*
	List dashed
 */
.list-dashed {
	li,figure {
		border-bottom: 1px dashed shade($original-header-bg, 10%);
		padding-bottom: rem-calc(20);
		margin-bottom: rem-calc(20);
	}
}

/*
	Font Families
 */
.font-black {
	font-family: 'Gotham-Black' !important;
}
.font-book {
	font-family: 'Gotham-Book' !important;
}
.font-light {
	font-family: 'GothamLight' !important;
}
.font-bold {
	font-family: 'GothamBold' !important;
}

/*
	Tipografia
 */

//Fontes maiusculas
.text-up {
	text-transform: uppercase !important;
}

/*
	Transições
 */

//todas as transições 
.trs {
	@include transition;
}

/*
	Displays
 */
.display-block {
	display: block;
}

.d-iblock {
	display: inline-block;
}

/*
	Alinhamentos
 */
.centered {
	margin: 0 auto;
}

/*
	Miscelania
 */

//uma linha horizontal
.line {
	border-top: 1px solid $primary-color;
}

//margen de 10px
.divide-10 {
	margin-bottom: rem-calc(10);
	width: 100%;
	float: left;
}

//margen de 20px
.divide-20 {
	margin-bottom: rem-calc(20);
	width: 100%;
	float: left;
}

//Padding left de 20px
.pdl-20 {
	padding-left: 20px;
}

//padding right de 20px
.pdr-20 {
	padding-right: 20px;
}
.pdr-10 {
	padding-right: 10px;
}

//background cover
.bg-cover {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

//sem margens
.m-0 {
	margin: 0 !important;
}

//Lista vertical
.list-vert {
	div, li {
		margin-bottom: rem-calc(20);
		padding-bottom: rem-calc(20);
		border-bottom: 1px solid #ccc;

		&:last-child {
			margin: 0;
			border: none;
			padding: 0;
		}	
	}
}

//diminuir opacidade
.less-opacity {
	opacity: .6;
}

//coluna 20 padding
.columns-20 {
	padding: 0 rem-calc(20);
}

//uma linha com borda xadrez
.line-chess {
	width: 100%;
	height: rem-calc(10);
	background: url(images/bg-chess.jpg);
}

/*
	Bloco de conteudo
 */
.content-block {
	header {
		border-bottom: 1px solid $primary-color;
		margin-bottom: rem-calc(20);
	}
	h2 {
		font-size: rem-calc(22);
		margin-top: 0;
	}
	h3 {
		font-weight: bold;
		font-size: rem-calc(18);
		margin-top: 0;
	}
	h6 {
		margin: 0;
	}

	&.alternative-color {
		header {
			border-color: $alternative-color;
		}
		a {
			color: $alternative-color !important;
		}
	}
}

.icon-plus {
	display: inline-block;
}

.thumb-news {
	//margin-bottom: rem-calc(10);

	img {
		width: 100%;
		height: auto;
		border-radius: 10px;
		border: 3px solid #f1f1f1;
		@extend .trs;
		&:hover {
			border-color: $primary-color;
		}
	}

	.mask {
		height: 100%;
		bottom:0; left:0;
		background: rgba(#333,.3);
		border-radius: 10px;
		@extend .trs;

		&:hover {
			background: rgba(#333,.6);
		}
	}

	h3 {
		bottom: rem-calc(10);
		color: #fff;
		font-weight: bold;
		@include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);
		padding: 0 rem-calc(20);

		span {
			font-size: 12px;
		}
	}

	&.cats {
		img {
			&:hover {
				border-color: $alternative-color !important;	
			}
		}
	}
}

.icon-play {
	margin-top: 15% !important;
}

#content-carousel {
	margin: 0 !important;
}
.owl-item {
	//margin-right: rem-calc(20);
	padding: 0 rem-calc(10);
}
.owl-theme .owl-controls .owl-page span {
	background: $primary-color !important;
}

.nav-carolsel {
	margin-top: rem-calc(5);
	width: rem-calc(50);	

	a {
		opacity: .6;
		@extend .trs;

		&:hover {
			opacity: 1;
		}
	}
}

.list-subcats, .list-subcats-m {
	a {
		@extend .text-up;
		font-size: rem-calc(10);
		@extend .font-book;

		&:before {
			content: "\00a0\00a0|\00a0\00a0";
		}

		&:first-child {
			&:before {
				content: "";
			}
		}
	}
}

.sub-header {
	border: none !important;
}

.list-dog-news {
	li {
		div:last-child:not(.icon-plus) {
			padding-bottom: rem-calc(20);
			border-bottom: 1px solid $primary-color;
		}
	}
}

//Miniatura redonda
.thumb-rounded {
	@extend .display-block;
	width: rem-calc(100);
	height: rem-calc(100);
	border-radius: 100%;
	overflow: hidden;
	padding: rem-calc(3);
	background-color: #FFF;
	border: 1px solid #fff;
	@extend .trs;

	&:hover {
		border-color: $primary-color;
		opacity: .8;
	}

	img {
		border-radius: 100%;
	}
}

.thumb-rounded-fluid {
	@extend .display-block;
	width: 100%;
	height: auto;
	border-radius: 100%;
	padding: rem-calc(3);
	background-color: #FFF;
	border: 1px solid #fff;
	@extend .trs;

	&:hover {
		border-color: $primary-color;
		opacity: .8;
	}

	img {
		border-radius: 100%;
	}
}

//Tooltips
.tooltipster-default {
  border-radius: 5px; 
  border: 2px solid $primary-color;
  background: #fff;
  color: $primary-color;
}

//Imagens destacadas 
.feature-image {
	img {
		border-radius: rem-calc(10);
	}
}