/*
	Page modules
	=============================================
 */
#breadcrumb {
	a, span {
		font-size: rem-calc(12);
		color: $link-grey;
		@extend .text-up;
	}

	a {
		@extend .trs;

		&:after {
			content: "\00a0\>";
		}
		&:hover {
			color: $primary-color;
		}
	}
}

.page-header {

	h1 {
		font-size: rem-calc(22);
		color: $primary-color;
		margin: 0;
		line-height: 1;
		padding-bottom: rem-calc(10);
		border-bottom: 1px solid $primary-color;

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: -2px;
			left: rem-calc(10);
			width: rem-calc(120);
			border-bottom: 5px solid $primary-color;
		}

		&.sub {
			&:after {
				left: 0;
			}
		}

		span {
			@extend .font-light;
			text-transform: none;
			color: shade($original-header-bg, 50%);
		}
	}
}

.share-bar {
	div {
		background-color: $original-header-bg;
		padding: rem-calc(10);
		padding-right: rem-calc(14);
		border-left: 4px solid $primary-color;
	}
}

/*
	Wordpress reset
	=============================================
 */
.wp-content {
	h1,h2,h3,h4,h5,h6, strong, b {
		font-family: 'GothamBold' !important;
		margin-bottom: rem-calc(20);
	}
	p {
		font-family: 'GothamLight';
	}
	ul:not(.content-menu) {
		@extend .no-bullet;
		li {
			margin-bottom: rem-calc(10);
			&:before {
				content: "- ";
			}
		}
	}
	a {
		color: $primary-color;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	h2 {
		color: $primary-color;
		border-left: 4px solid $primary-color;
		padding-left: rem-calc(20);
	}

	h3 {
		font-size: rem-calc(20);
	}

	h4 {
		font-size: rem-calc(18);
	}

	h5 {
		font-size: rem-calc(16);
	}
}

.alignleft, .alignright, .aligncenter {
	margin-bottom: 20px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.wp-caption {
	img {
		width: 100%;
	}
}

.wp-caption-text {
	width: 100%;
	text-align: center;
	float: left;
	padding: rem-calc(10);
	background-color: $original-header-bg;
	font-size: rem-calc(12);
}


/*
	Anuncie
	=============================================
 */

.content-menu:not(.pet-group) {
	a {
		@include button(
			$bg: #f8f7f7,
			$full-width: true
		);
		margin-bottom: 0;
		border-left: 3px solid $primary-color;
		color: $primary-color;
		text-align: left;
		padding-left: rem-calc(10);
	}
}

/*
	Busca
	==============================================
 */
.queried {
	font-size: rem-calc(14);
	right: rem-calc(10); top: 0;
}

/*
	Colunistas
	==============================================
 */
.join-writter-form {
	input[type="text"] {
		float: right;
		width: 49%;
		&:first-child {
			float: left;
		}
	}

	textarea {
		width: 100%;
		margin-top: rem-calc(20);
	}

	input, textarea {
		border-radius: 6px;
	}

	input[type="submit"] {
		@include button($radius: rem-calc(6));
		text-transform: uppercase;
		float: right;
	}
}

/*
	Grupos
	==============================================
 */
.group-list {
	img, .rounded {
		display: block;
		border-radius: 100%;
	}
	img {
		@extend .centered;
	}
}

/*
	Guia de raças
	==============================================
 */
.alphabetical-list {
	ul {
		margin-bottom: 0;
	}
	li {
		margin-left: 0;
		margin-bottom: 0 !important;
		padding: 0;

		&:before {
			content: "" !important;
		}
	}
	a {
		@extend .trs;
		display: block;
		padding: 10px;
		@extend .font-bold;
		text-decoration: none;

		&:hover {
			color: #fff;
			background-color: $primary-color;
		}
	}
}

/*
	Quem somos
	==============================================
 */
.about-thumb {
	padding: rem-calc(20);
	border: 1px solid shade($original-header-bg, 10%);

	img {
		margin: 0 auto;
		border-radius: 100%;
		display: inherit;
	}
}
