/*
	Widgets
	=====================================
 */
#wp-widget {
	a {
		color: $primary-color;
		@extend .trs;

		&:hover {
			color: shade($primary-color,30%);
		}
	}
}

.widget-header {
	margin-bottom: rem-calc(20);

	h2 {
		color: $primary-color;
		border-bottom: 1px solid $primary-color;
		padding-bottom: rem-calc(10);
	}
}

.widget-list-figures {
	border-bottom: 1px solid $primary-color;

	img {
		@extend .trs;
		border: 3px solid $original-header-bg;
		border-radius: 10px;

		&:hover {
			border-color: $primary-color;
		}
	}

	figcaption {
		padding-left: rem-calc(10);
	}

	h3 {
		font-size: rem-calc(16);
	}
	

	li {
		width: 100%; float: left;
		padding-top: rem-calc(10);
		padding-bottom: rem-calc(10);
		border-top: 1px solid tint($primary-color,80%);

		&:first-child {
			padding-top: 0;
			border: none;
		}
	}
}

.mini-ads-list {
	img {
		width: 100%;
		height: auto;
	}
}

/*
	Newsletter sidebar
 */
.newsletter-promo {
	header {
		padding: rem-calc(10);
		background-color: $primary-color;

		h3 {
			color: $primary-color-less;
			font-size: rem-calc(18);
		}
	}
}

.icon-box {
	margin-right: rem-calc(10);
}

.promo-panel {
	padding: rem-calc(10);
	border: 1px solid #ccc;
	border-top: none;

	p {
		font-size: rem-calc(14);
	}
}

.newsletter-sidebar {
	input[type="text"] {
		border-radius: rem-calc(6);
	}

	input {
		font-size: rem-calc(14);
	}
}

.advice {
	font-size: rem-calc(10);
}