/*
	Caixa do autor
 */
.post-author {
	padding: rem-calc(10);
	background-color: $original-header-bg;
	border-left: 3px solid $primary-color;
}

.author-foto {
	width: rem-calc(50);
	height: rem-calc(50);
	border-radius: 100%;
	bottom: rem-calc(18);
	left: 10px;
}

.author-name {
	font-size: 80%;
	padding-left: rem-calc(80);
}

.post-categories {
	padding-left: rem-calc(66);
}

.button-cat {
	@include button(
		$bg: #fff,
		$padding: rem-calc(5),
		$radius: rem-calc(6)
	);
	margin: 0;
	color: shade($original-header-bg, 50%);
	font-size: rem-calc(12);
	line-height: 1;
}

.post-header {
	h1 {
		font-size: rem-calc(22);
	}
}

.post-ads {
	margin-right: rem-calc(20);
	margin-bottom: rem-calc(20);

	&.alignright {
		margin-right: rem-calc(0);
		margin-left: rem-calc(20);
	}
}

.wp-content blockquote {
	p {
		width: 100%; 
		float: left;
		padding: rem-calc(40) rem-calc(20);
		background-color: $original-header-bg;
		border-left: 3px solid $primary-color;
		color: $primary-color;
	}
}

.author-footer {
	figure:not(.author-avatar) {
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
		border-top: 2px dashed shade($original-header-bg, 10%);
		border-bottom: 2px dashed shade($original-header-bg, 10%);
	}

	h5 {
		font-size: rem-calc(16);
		color: shade($original-header-bg, 50%);
		span {
			color: $primary-color;
		}
		&.left {
			margin-left: rem-calc(60);
		}
	}
}

.author-avatar {
	width: rem-calc(100);
	height: rem-calc(100);
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 20px;
}

.author-about {
	padding-left: rem-calc(50);
	div {
		border-radius: rem-calc(10);
		border: 1px solid #ccc;
		padding: rem-calc(20);

		p {
			padding-left: rem-calc(60);
		}
	}

	.inline-list {
		margin: 0;
		padding-left: rem-calc(60);
	}

	a {
		@extend .trs;
		&:hover {
			opacity: .7;
		}
	}
}

.author-social {
	li {
		border: none !important;
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
}

//relacionados
.related-posts {
	border-bottom: 2px dashed shade($original-header-bg, 10%);
}

//Guia de raças
.table-guide {
	border: none;
	border-bottom: 1px solid shade($original-header-bg, 5%);

	th {
		border-top: 1px solid shade($original-header-bg, 5%);
	}
}

.progress {
	border: 1px solid shade($original-header-bg, 10%);
}