/*
	Cores
 */

//Cor primaria
$original-primary-color: #a1427b;

//Cor primaria com hover
$original-primary-color-hover: #eadcea;

//Cor de fundo do cabeçalho
$original-header-bg: #f8f7f7;

//Cor alternativa (gatos)
$alternative-color: #2cd4a0;

//Cinza para links
$link-grey: #b3b3b3;

//Cor primaria menos saturada
$primary-color-less: tint($original-primary-color, 80%);