.icon-afb {
  background-image: url(images/spritesheet.png);
  background-position: -590px -87px;
  width: 12px;
  height: 26px;
}
.icon-agm {
  background-image: url(images/spritesheet.png);
  background-position: -420px -194px;
  width: 26px;
  height: 20px;
}
.icon-agp {
  background-image: url(images/spritesheet.png);
  background-position: -255px -127px;
  width: 27px;
  height: 26px;
}
.icon-ain {
  background-image: url(images/spritesheet.png);
  background-position: -255px -101px;
  width: 28px;
  height: 26px;
}
.icon-ais {
  background-image: url(images/spritesheet.png);
  background-position: -255px -153px;
  width: 27px;
  height: 26px;
}
.icon-api {
  background-image: url(images/spritesheet.png);
  background-position: -560px -146px;
  width: 21px;
  height: 27px;
}
.icon-arrow {
  background-image: url(images/spritesheet.png);
  background-position: -525px -146px;
  width: 35px;
  height: 35px;
}
.icon-atw {
  background-image: url(images/spritesheet.png);
  background-position: -394px -194px;
  width: 26px;
  height: 22px;
}
.icon-box {
  background-image: url(images/spritesheet.png);
  background-position: -446px -194px;
  width: 24px;
  height: 18px;
}
.icon-cats {
  background-image: url(images/spritesheet.png);
  background-position: 0px -101px;
  width: 255px;
  height: 93px;
}
.icon-facebook {
  background-image: url(images/spritesheet.png);
  background-position: -377px -146px;
  width: 37px;
  height: 37px;
}
.icon-facelike {
  background-image: url(images/spritesheet.png);
  background-position: 0px -194px;
  width: 344px;
  height: 73px;
}
.icon-gplus {
  background-image: url(images/spritesheet.png);
  background-position: -451px -146px;
  width: 37px;
  height: 37px;
}
.icon-instagram {
  background-image: url(images/spritesheet.png);
  background-position: -340px -146px;
  width: 37px;
  height: 37px;
}
.icon-left {
  background-image: url(images/spritesheet.png);
  background-position: -283px -101px;
  width: 16px;
  height: 23px;
}
.icon-like {
  background-image: url(images/spritesheet.png);
  background-position: -300px -87px;
  width: 68px;
  height: 59px;
}
.icon-logo-m {
  background-image: url(images/spritesheet.png);
  background-position: 0px 0px;
  width: 300px;
  height: 101px;
}
.icon-logo-small {
  background-image: url(images/spritesheet.png);
  background-position: -422px -87px;
  width: 168px;
  height: 49px;
}
.icon-logo {
  background-image: url(images/spritesheet.png);
  background-position: -300px 0px;
  width: 302px;
  height: 87px;
}
.icon-menu {
  background-image: url(images/spritesheet.png);
  background-position: -344px -194px;
  width: 50px;
  height: 31px;
}
.icon-play {
  background-image: url(images/spritesheet.png);
  background-position: -368px -87px;
  width: 54px;
  height: 54px;
}
.icon-plus {
  background-image: url(images/spritesheet.png);
  background-position: -282px -127px;
  width: 17px;
  height: 17px;
}
.icon-right {
  background-image: url(images/spritesheet.png);
  background-position: -581px -146px;
  width: 16px;
  height: 23px;
}
.icon-search {
  background-image: url(images/spritesheet.png);
  background-position: -300px -146px;
  width: 40px;
  height: 40px;
}
.icon-sign {
  background-image: url(images/spritesheet.png);
  background-position: 0px -267px;
  width: 275px;
  height: 52px;
}
.icon-twitter {
  background-image: url(images/spritesheet.png);
  background-position: -414px -146px;
  width: 37px;
  height: 37px;
}
.icon-youtube {
  background-image: url(images/spritesheet.png);
  background-position: -488px -146px;
  width: 37px;
  height: 37px;
}
